body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.form-signin {
  max-width: 720px;
  padding: 50px;
  margin: 0 auto;
  background-color: #eee;
}

.heading-font {
  font-family: 'Roboto', sans-serif;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-signin .form-signin-heading {
  margin-bottom: 20px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin button[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
