.navbar{
	font-family: 'Open Sans', sans-serif;
	background-color: #e2e2e2;
	height: 8%;
}

.nav-brand{

	color: #ff3344;
	padding-left: 8%;
	float-left;
}
.nav-welcome{
	margin-left: 10%;
	float-left; 
}

.nav-search{
	margin-left: 20%;
	float-left;
}
.nav-settings{
	float-right
}

.sidebar{
	font-family: 'Open Sans', sans-serif;
	padding-top: 2%;
	height: 92%;
	float:left;
}

