.navbar{
	font-family: 'Open Sans', sans-serif;
	background-color: #e2e2e2;
	height: 8%;
}

.nav-brand{

	color: #ff3344;
	padding-left: 8%;
	float-left;
}
.nav-welcome{
	margin-left: 10%;
	float-left; 
}

.nav-search{
	margin-left: 20%;
	float-left;
}
.nav-settings{
	float-right
}

.sidebar{
	font-family: 'Open Sans', sans-serif;
	padding-top: 2%;
	height: 92%;
	float:left;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
