.navbar{
	font-family: 'Open Sans', sans-serif;
	background-color: #e2e2e2;
}

.navbar-brand {
	color: #e2e2e2;
	margin-left: 1rem;
}

#nav-icon{
  color: black;
  cursor: pointer;
}

.icon-favourite {
	margin-left: 5%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.navbar-toggler {
	display: none;
}

/* Search Bar */

.search {
    transition: all .5s ease;
    opacity:0;
		max-width: 0;
}
.search.expanded {
    max-width:200px;
    opacity:1;
}
.searchicon {
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#sidebar {
  position: fixed;
    padding-top: 50px;
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    background-color: #e2e2e2;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content.active {
  margin-left: 0px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	#sidebar {
			margin-left: -250px;
	}
	#content {
		margin-left: 0px;
	}
	#sidebar.active {
			margin-left: 0;
	}
	#content.active {
		margin-left: 250px;
	}
	#sidebarCollapse span {
			display: none;
	}
}

@media (max-width: 768px) {
	.nav-welcome {
		display: none;
	}
	.navbar-brand {
		display: none;
	}
}
