.navbar{
	font-family: 'Open Sans', sans-serif;
	background-color: #e2e2e2;
	height: 3.5rem;
	z-index: 3;
}

.navbar-brand {
	color: #e2e2e2;
	margin-left: 1rem;
}

.nav-icon{
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.nav-icon:hover{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.icon-favourite {
	margin-left: 5%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.navbar-toggler {
	display: none;
}

.navbar-text {
	cursor: default;
}

/* Search Bar */

.search {
    transition: all .5s ease;
    opacity:0;
		max-width: 0;
}
.search.expanded {
    max-width:200px;
    opacity:1;
}
#sidebar {
  position: fixed;
  margin-top: 3.5rem;
    padding-top: 50px;
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    background-color: #e2e2e2;
    z-index: 2;

}

#sidebar.active {
    margin-left: -250px;
}

.searchBlock{
	max-height: 
}
#content {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 3.5rem;
    z-index: 0;

}

#content.active {
  margin-left:  0px;
}

.entry{
	margin-right: 20px;
	float: left;
	margin-bottom: 15px;

}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#content {
		margin-left: 0px;
		z-index: 2;
	}
	#sidebar.active {
			margin-left: 0;
	}
	#content.active {
		margin-left: 0px;
	}
	#sidebarCollapse span {
			display: none;
	}
}

@media (max-width: 768px) {
	.nav-welcome {
		display: none;
	}
	.navbar-brand {
		display: none;
	}
}
