body {
  padding-top: 3.5rem;
}

.navbar {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  clear: both;
  position: sticky;
  bottom: 0;
  text-align: right;
  padding-right: 3%;
  width: 100%;
}

.nav-item {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#import-input {
  width: 0;
  height: 0;
  visibility: hidden;
}


#sidebar {
  position: fixed;
    padding-top: 50px;
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content.active {
  margin-left: 0px;
}

@media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
        z-index: 1000;
    }
    #content {
      margin-left: 0;
    }
    #sidebar.active {
        margin-left: 0px;
    }
    #content.active {
      margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
